*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blueviolet;
}

.navbar,
.container {
    background-color: rgb(28, 28, 29);
    width: 800px;
}

.navbar {
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 3px;
}